
<div class="container mt-2">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">Account</div>
        <div class="card-body">
          <form [formGroup]="accountFormgroup" (ngSubmit)="handelSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">Account Id :</label>
              <input type="text" formControlName="accountID" class="form-control">
              <button class="btn btn-success">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessage ">
              <div class="text-danger">{{errorMessage}}</div>
            </ng-container>
<!--            <ng-template #loading>-->
<!--              <div class="text-warning">Loding...</div>-->
<!--            </ng-template>-->
          </ng-template>
          <ng-container *ngIf="accountObservable | async as accountDetails;else errorTemplate" >
            <div class="mb-2 mt-2">
              <label>Account Id : </label>
              <label><strong>{{ accountDetails.accountId}}</strong></label>
            </div>
            <div class="mb-2">
              <label>Balance : </label>
              <label class="text-success"><strong>{{accountDetails.balance| number:'1.2-2'}} Dhs</strong></label>
            </div>
            <table class="table">
              <thead>
              <th>Id</th>
              <th>Date</th>
              <th>Type</th>
              <th class="text-end">Amount</th>

              </thead>
              <tbody>
              <tr *ngFor="let op of accountDetails.accountOperationDTOs">
                <td>{{op.id}}</td>
                <td>{{op.operationDate|date:'dd-MM-yyyy-HH-mm-ss'}}</td>
                <td>{{op.type}}</td>
                <td class="text-end">{{op.amount|number:'1.2-2'}} Dhs</td>

              </tr>
              </tbody>

            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let itel of [].constructor(accountDetails.totalPAges);let page=index">
                <a [ngClass]="page==curentPage?'btn-success':'btn-outline-success'" (click)="gotoPage(page)" class="btn  ms-1 mt-1">{{page}}</a>
              </li>
            </ul>
          </ng-container>

        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="card" *ngIf="accountObservable">
        <div class="card-header">Operation</div>
        <div class="card-body">
<!--          {{operationFormGroup.value|json}}-->
          <form [formGroup]="operationFormGroup" (ngSubmit)="handelAccountOperation()">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT">
              <label class="form-check-label">DEBIT:</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT">
              <label class="form-check-label">CREDIT:</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER">
              <label class="form-check-label">TRANSFER:</label>
            </div>
            <div class="mb-3" *ngIf="operationFormGroup.value.operationType=='TRANSFER'">
              <label class="form-label">Account Destination:</label>
              <input type="text" formControlName="accountDestination" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Amount :</label>
              <input type="text" formControlName="amount" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Description :</label>
              <input type="text" formControlName="description" class="form-control">
            </div>
           <div class="d-grid mb-3">
             <button class="btn btn-success ">Save Operation</button>
           </div>


          </form>
        </div>
      </div>
    </div>
  </div>

</div>
